/**************************************
* GENERAL STYLES
**************************************/

body {
  /* fix for webkit rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #fafafb;
}

::selection { background-color: #9baeff; }

/**************************************
* BUTTON
**************************************/

.button {
  position: relative;
  display: inline-block;
  border: 1px solid #8191da;
  font: 300 18px/1 'Merriweather Sans', sans-serif;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 16px;
  width: 100%;
  min-width: 120px;
  border-radius: 0;
  background: transparent;
  overflow: hidden;
  outline: none;
  z-index: 10;
}

.button,
.button:link,
.button:visited,
.button:hover,
.button:active {
  text-decoration: none;
  color: #8191da;
}

@media screen and (min-width: 375px) {

  .button {
    width: auto;
  }

}

@media screen and (min-width: 766px) {

  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #8191da;
    visibility: hidden;
  }

  .button:hover::before {
    visibility: visible;
  }

}

.button--spinnable {
  transition:
    .1s ease-out border-color .1s,
    .15s ease-out min-width .1s,
    .15s ease-out width .1s,
    .1s ease-out color .1s;
}

.button--spinnable::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #8191da;
  opacity: 0;
  transition:
    .1s ease-out opacity .1s,
    .1s ease-out border-width,
    .1s ease-out border-radius,
    .1s ease-out border-top-color,
    .1s ease-out border-bottom-color;
}

.button--spin,
.button--spin:link {
  color: transparent;
  width: 48px;
  min-width: 48px;
  border-color: transparent;
  cursor: default;
  transition:
    .15s ease-out color .4s,
    .2s ease-out width .4s,
    .2s step-end border-color .4s;
  animation: 2s spin linear infinite .6s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button--spin::after {
  opacity: 1;
  border-radius: 50%;
  border-width: 3px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transition:
    .2s ease-out opacity .4s,
    .2s ease-out border-width .6s,
    .2s ease-out border-radius .6s,
    step-end border-top-color .6s,
    step-end border-bottom-color .6s;
}

.button--spin:hover::before {
  visibility: hidden;
}

.ripple {
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #cdcfdb;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  animation: .5s ease-out ripple;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(.6);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/**************************************
* INPUT
**************************************/

.input {
  height: 36px;
  width: 100%;
  color: #424554;
  border: none;
  border-bottom: 1px solid #8191da;
  border-radius: 0;
  background: transparent;
  background-position: center bottom;
  background-image: linear-gradient(
    to right,
    #8191da,
    #8191da);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition: .5s ease-out background-size;
}

.input:focus {
  outline: none;
  background-size: 100% 1px;
}

.input--warning {
  border-bottom-color: #f00;
  background-image: linear-gradient(
    to right,
    #f00,
    #f00);
}

.textarea {
  height: auto;
  min-height: 36px;
  resize: none;
}

.form-group {
  margin-bottom: 52px;
}

.form-group__warning {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: -6px;
  font-size: 16px;
  color: #f00;
  border-radius: 5px;
  transition: .3s ease opacity;
}

.form-group__warning--active {
  visibility: visible;
  opacity: 1;
}

.form__label {
  font: 300 18px/1.66 'Merriweather Sans', sans-serif;
}

@media screen and (min-width: 766px) {

  .input {
    transition-duration: .3s;
  }

}

/**************************************
* NOTIFICATION
**************************************/

.notification {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
  padding: 30px 40px;
  min-width: 235px;
  opacity: 0.75;
}

.notification--info {
  background: #000;
}

.notification--danger {
  background: #f00;
}

.notification--active {
  visibility: visible;
  opacity: .75;
  animation: 1.5s ease notification;
}

@keyframes notification {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .75;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 0;
  }
}

/**************************************
* HEADER
**************************************/

.header {
  font: 400 18px/4 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.header__menu-item {
  display: inline-block;
  text-align: center;
}

.header__link,
.header__link:link,
.header__link:visited,
.header__link:hover,
.header__link:active,
.header__menu-control,
.header__menu-control:hover {
  display: inline-block;
  text-decoration: none;
  color: #fafafb;
  margin: 0 15px;
}

@media screen and (min-width: 766px) {

  .header {
    margin-bottom: 30px;
  }

  .header__link {
    margin: 0 30px;
  }

  .header__link::after {
    content: '';
    display: block;
    position: relative;
    bottom: 24px;
    height: 2px;
    width: 100%;
    background-position: center bottom;
    background-image: linear-gradient(
      to right,
      #fafafb,
      #fafafb);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: .15s ease-out background-size;
  }

  .header__link:hover::after {
    background-size: 100% 2px;
  }

}

@media screen and (max-width: 766px) {

  /** Drawer menu **/

  .header__menu {
    background: #424554;
    opacity: .95;
    padding: 10px 60px 10px 20px;
    z-index: 999;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translate3d(260px, 0, 0);
    transition: 0.3s cubic-bezier(.17, .89, .32, 1.28) transform;
    line-height: 3;
    box-shadow: 0 0 30px 15px rgba(0,0,0,.33)
  }

  .header__menu-item {
    width: 100%;
    transform: translateX(180px);
    transition: .3s cubic-bezier(.17, .89, .32, 1.48) transform;
  }

  .header__menu-item:nth-child(1) {
    transform: translateX(180px) rotate(1080deg);
  }

  /** Open state **/

  .header__menu--open {
    transform: translate3d(40px, 0, 0);
  }

  .header__menu--open .header__menu-item {
    transform: translate3d(0, 0, 0);
  }

  .header__menu--open .header__menu-item:nth-child(1) {
    transform: translate3d(0, 0, 0) rotate(0deg);
    transition-delay: .25s;
  }

  .header__menu--open .header__menu-item:nth-child(2) {
    transition-delay: .10s;
  }
  .header__menu--open .header__menu-item:nth-child(3) {
    transition-delay: .20s;
  }

}

/**************************************
* MAIN AREA
**************************************/

.main {
  position: relative;
  overflow: hidden;
  background-color: #8191da;
  background-image: linear-gradient(
    to bottom right,
    #9baeff,
    #8191da
  );
  padding-bottom: 14%;
  font: 300 18px/1.66 'Merriweather Sans', sans-serif;
  color: #424554;
}

.main::before {
  content: '';
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: #fafafb;
  transform-origin: left top;
  transform: skewY(-8deg);
}

.main__heading {
  font: 800 30px/1.2 'Montserrat', sans-serif;
  text-align: left;
  color: #fafafb;
  margin: 0 0 30px;
}

.main__avatar {
  margin-bottom: 30px;
}

@media screen and (min-width: 766px) {

  .main__heading {
    font-size: 36px;
  }

}

/**************************************
* COMMON CLASSES: PORTFOLIO & CONTACT
**************************************/

.portfolio__heading,
.contact__heading {
  font: 800 44px/150px 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #8191da;
  margin: 0;
}

.portfolio__button,
.contact__button {
  margin: 0 0 15px;
}

@media screen and (min-width: 766px) {

  .portfolio__heading,
  .contact__heading {
    font-size: 72px;
    margin: 0 0 30px;
  }

}

/**************************************
* PORTFOLIO
**************************************/

.portfolio {
  font: 300 18px/1.66 'Merriweather Sans', sans-serif;
  color: #424554;
}

.portfolio__element {
  margin-bottom: 45px;
}

.portfolio__title {
  font: 800 30px/1 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 45px 0 15px;
}

.portfolio__details {
  font: 400 12px/1.2 'Montserrat', sans-serif;
  color: #424554;
  margin-bottom: 15px;
}

.portfolio__text {
  margin-bottom: 15px;
}

.portfolio__image {
  border-radius: 2%;
}

.portfolio__imagebox {
  display: inline-block;
  max-width: 450px;
}

.portfolio__imagebox::after {
  content: '';
  position: relative;
  width: 80%;
  left: 10%;
  height: 10%;
  display: block;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 1px 30px 15px rgba(0,0,0,.15);
}

@media screen and (min-width: 375px) {

  .portfolio__button {
    margin: 0 15px 0 0;
  }

}

@media screen and (min-width: 766px) {

  .portfolio__element {
    margin-bottom: 60px;
  }

  .portfolio__title {
    margin-top: 0;
    font-size: 36px;
  }

  .portfolio__details {
    margin-bottom: 30px;
  }

  .portfolio__text {
    margin-bottom: 30px;
  }

}

@media screen and (min-width: 990px) {

  .portfolio__element {
    margin-bottom: 90px;
  }

}

/**************************************
* CONTACT
**************************************/

.contact {
  position: relative;
  overflow: hidden;
  background-color: #cdcfdb;
  background-image: linear-gradient(
    to bottom,
    #cdcfdb,
    #fafafb
  );
  padding-top: 8%;
  padding-bottom: 45px;
  font: 300 18px/1.66 'Merriweather Sans', sans-serif;
  color: #424554;
}

.contact::before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 100%;
  width: 100%;
  background-color: #fafafb;
  transform-origin: left top;
  transform: skewY(4deg);
}

@media screen and (min-width: 375px) {

  .contact__button {
    width: 120px;
    margin: 0;
  }

}

@media screen and (min-width: 766px) {

  .contact {
    padding-bottom: 80px;
  }

}

/**************************************
* FOOTER
**************************************/

.footer {
  font: 300 12px/60px 'Merriweather Sans', sans-serif;
  background: #424554;
  color: #fafafb;
  text-align: center;
  padding: 15px 0 0;
}

.footer__social-icons {
  text-align: center;
}

.footer__social-icon {
  height: 26px;
  padding: 0 12px;
}

@media screen and (min-width: 990px) {

  .footer {
    font-size: 14px;
    line-height: 90px;
    padding: 0;
    text-align: left;
   }

  .footer__social-icons {
    text-align: right;
  }

  .footer__social-icon {
    height: 36px;
    padding: 0 15px;
  }

}
